version: v1alpha1
metadata:
  name: nvidia-container-toolkit-production
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides NVIDIA driver userspace and the persistence daemon.
  compatibility:
    talos:
      version: ">= v1.2.0"
