version: v1alpha1
metadata:
  name: netbird
  version: "{{ .VERSION }}"
  author: Łukasz Szczepański
  description: |
    [{{ .TIER }}] NetBird combines a WireGuard®-based overlay network with Zero Trust Network Access, providing a unified open source platform for reliable and secure connectivity.
  compatibility:
    talos:
      version: ">= v1.5.0"
