version: v1alpha1
metadata:
  name: qemu
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides the QEMU machine emulator and virtualizer.
  compatibility:
    talos:
      version: ">= v1.0.0"
