version: v1alpha1
metadata:
  name: rockchip-rknn
  version: "{{ .VERSION }}"
  author: Camillo Rossi
  description: |
    [{{ .TIER }}] This system extension provides kernel modules for the RKNN NPU found in Rockchip SBCs like the RK3588.
  compatibility:
    talos:
      version: ">= v1.0.0"
