version: v1alpha1
metadata:
  name: spin
  version: "{{ .VERSION }}"
  author: Sven Pfennig
  description: |
    [{{ .TIER }}] This system extension provides support for spin runtime (WebAssembly) containers.
  compatibility:
    talos:
      version: ">= v1.0.0"
