version: v1alpha1
metadata:
  name: iscsi-tools
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides iscsi-tools.
  compatibility:
    talos:
      version: ">= v1.1.0"
