go 1.22

use (
	./examples/hello-world-service/src
	./nvidia-gpu/nvidia-container-toolkit/nvidia-container-runtime-wrapper
	./nvidia-gpu/nvidia-container-toolkit/nvidia-persistenced-wrapper
	./storage/iscsi-tools/iscsid-wrapper
)
