go 1.26.0

use (
	./examples/hello-world-service/src
	./internal/grype-scan
	./nvidia-gpu/nvidia-container-toolkit/nvidia-persistenced-wrapper
	./nvidia-gpu/nvidia-fabricmanager/nvidia-fabricmanager-wrapper
)
