version: v1alpha1
metadata:
  name: intel-npu
  version: "{{ .VERSION }}"
  author: lmacka
  description: |
    [{{ .TIER }}] This system extension provides Intel NPU firmware binaries and kernel modules.
  compatibility:
    talos:
      version: ">= v1.0.0"
