version: v1alpha1
metadata:
  name: vmtoolsd-guest-agent
  version: "{{ .VERSION }}"
  author: Equinix and Siderolabs
  description: |
    [{{ .TIER }}] This system extension provides talos-vmtoolsd
  compatibility:
    talos:
      version: ">= v1.4.0"
