version: v1alpha1
metadata:
  name: mdadm
  version: "{{ .VERSION }}"
  author: Serge Logvinov
  description: |
    [{{ .TIER }}] This system extension is no-op, for backward compatibility.
  compatibility:
    talos:
      version: ">= v1.5.0"
