version: v1alpha1
metadata:
  name: xdma-driver
  version: "{{ .VERSION }}"
  author: Nikolai Shields
  description: |
    [{{ .TIER }}] Xilinx DMA Driver
  compatibility:
    talos:
      version: ">= v1.2.0"
