version: v1alpha1
metadata:
  name: chelsio-firmware
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides Chelsio NIC firmware binaries.
  compatibility:
    talos:
      version: ">= v1.0.0"
