version: v1alpha1
metadata:
  name: amneziawg
  version: "{{ .VERSION }}"
  author: masterbpro
  description: |
    [{{ .TIER }}] AmneziaWG is a WireGuard-based VPN protocol with DPI bypass capabilities through traffic obfuscation.
  compatibility:
    talos:
      version: ">= v1.7.0"
