version: v1alpha1
metadata:
  name: nvidia-container-toolkit-lts
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides nvidia runtime and it's dependencies using NVIDIA's runtime handler.
  compatibility:
    talos:
      version: ">= v1.2.0"
