version: v1alpha1
metadata:
  name: mellanox-mstflint
  version: "{{ .VERSION }}"
  author: Jean-Francois Roy
  description: |
    [{{ .TIER }}] This system extension provides mstflint.
  compatibility:
    talos:
      version: ">= v1.2.0"
