version: v1alpha1
metadata:
  name: mei
  version: "{{ .VERSION }}"
  author: Nick Meyer
  description: |
    [{{ .TIER }}] This system extension provides Intel Management Engine drivers kernel modules built against a specific Talos version.
    This driver enables the Intel Management Engine, a prerequisite for Intel Arc discrete GPUs.
  compatibility:
    talos:
      version: ">= v1.8.0"
