version: v1alpha1
metadata:
  name: xe
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides Intel GPU microcode binaries and kernel modules.
  compatibility:
    talos:
      version: ">= v1.0.0"
