version: v1alpha1
metadata:
  name: nut-client
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides the network-ups-tools upsmon service.
  compatibility:
    talos:
      version: ">= v1.5.0"
