version: v1alpha1
metadata:
  name: hailort
  version: "{{ .VERSION }}"
  author: hailo.ai team
  description: |
    [{{ .TIER }}] Driver for HailoRT family of AI hardware (eg. Hailo-8L) and is required for PCIe and M.2 Hailo accelerators.
  compatibility:
    talos:
      version: ">= v1.9.0"
