version: v1alpha1
metadata:
  name: nvme-cli
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides the NVMe command line interface.
  compatibility:
    talos:
      version: ">= v1.0.0"
