version: v1alpha1
metadata:
  name: gvisor-debug
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension enables gVisor debug logging.
  compatibility:
    talos:
      version: ">= v1.0.0"
