version: v1alpha1
metadata:
  name: bnx2-bnx2x
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}]This system extension provides bnx2 and bnx2x binaries.
  compatibility:
    talos:
      version: ">= v1.0.0"
