# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos System Extensions"
github_repo = "siderolabs/extensions"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"

# previous release
previous = "v1.12.0"

pre_release = true

preface = """\
See [Talos Linux documentation](https://www.talos.dev/v1.12/talos-guides/configuration/system-extensions/) for information on using system extensions.
"""

[notes]

    [notes.updates]
        title = "Component Updates"
        description = """\
bird2: 2.18
crun: 1.26
ctr: 2.2.1
glibc: 2.43
ecr-credential-provider: 1.35.0
netbird: 0.64.4
newt: 1.9.0
fuse3: 3.18.1
qemu-guest-agent: 10.2.0
Linux Firmware: 20260110
NVIDIA LTS: 580.126.16
NVIDIA Production: 570.211.01
libnvidia-container: v1.18.2
nvidia-container-toolkit: v1.18.2
DRBD: 9.3.0
gvisor: 20260126.0
Kata containers: 3.25.0
stargz-snapshotter: 0.18.2
cloudflared: 2026.1.2
nebula: 1.10.2
tailscale: 1.94.1
vmtoolsd-guest-agent: 1.5.0
metal-agent: 0.1.4
wolfi-base: 417d791afa234c538bca977fe0f44011d2381e60a9fde44c938bd17b9cc38f66
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"
