# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos System Extensions"
github_repo = "siderolabs/extensions"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"

# previous release
previous = "v1.5.0"

pre_release = true

preface = """\
See [Talos Linux documentation](https://www.talos.dev/v1.6/talos-guides/configuration/system-extensions/) for information on using system extensions.
"""

[notes]
    [notes.amdgpu-firmware]
        title = "AMD GPU firmware"
        description = """\
AMD GPU firmware is now shipped as a system extension.
"""

    [notes.btrfs]
        title = "BTRFS"
        description = """\
BTRFS drivers is now supported as Talos System Extension. Requires Talos v1.6.0 or later.
"""

    [notes.zfs]
        title = "ZFS"
        description = """\
ZFS extensions now also ship zfs-tools and an extension service that imports all zpools on startup .
"""

    [notes.updates]
        title = "Component Updates"
        description = """\
* DRBD: 9.2.5
"""


[make_deps]
