# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos System Extensions"
github_repo = "siderolabs/extensions"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"

# previous release
previous = "v1.11.0"

pre_release = true

preface = """\
See [Talos Linux documentation](https://www.talos.dev/v1.11/talos-guides/configuration/system-extensions/) for information on using system extensions.
"""

[notes]

    [notes.updates]
        title = "Component Updates"
        description = """\
Amazon ENA: 2.16.0
NVIDIA LTS: 580.95.05
NVIDIA Production: 570.195.03
NVIDIA Container Toolkit: 1.18.0
ctr: 2.1.5
crun: 1.25
drbd: 9.2.15
ecr-credential-provider: 1.34.1
fuse3: 3.17.4
glibc: 2.42
gvisor: 20251103.0
hailort: 4.23.0
kata-containers: 3.22.0
lldpd: 1.0.20
cloudflared: 2025.11.1
nebula: 1.9.7
netbird: 0.59.12
newt: 1.6.0
nut-client: 2.8.4
qemu: 10.1.2
spin: 0.22.0
stargz-snapshotter: 0.18.1
tailscale: 1.90.6
talos-vmtoolsd: 1.4.0
youki: 0.5.7
zerotier: 1.16.0
zfs: 2.4.0-rc2
linux-firmware: 20251111
tenstorrent: 2.5.0
mdadm: 4.4
Intel u-code: 20251111

wolfi-base: sha256:77891a12dc762228955294f2207ee1cbd2b127f18dc7c7458203116288dce828
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"
