# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos System Extensions"
github_repo = "siderolabs/extensions"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"

# previous release
previous = "v1.11.0"

pre_release = true

preface = """\
See [Talos Linux documentation](https://www.talos.dev/v1.11/talos-guides/configuration/system-extensions/) for information on using system extensions.
"""

[notes]

    [notes.updates]
        title = "Component Updates"
        description = """\
NVIDIA LTS: 580.65.06
NVIDIA Production: 570.172.08
crun: 1.24
ecr-credential-provider: 1.34.0
kata-containers: 3.20.0
spin: 0.21.0
stargz-snapshotter: 0.17.0
youki: 0.5.5
lldpd: 1.0.20
nebula: 1.9.6
newt: 1.4.4
tailscale: 1.88.1
zerotier: 1.16.0
fuse3: 3.17.4
nut-client: 2.8.4
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"
