# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos System Extensions"
github_repo = "siderolabs/extensions"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"

# previous release
previous = "v1.12.0"

pre_release = true

preface = """\
See [Talos Linux documentation](https://www.talos.dev/v1.11/talos-guides/configuration/system-extensions/) for information on using system extensions.
"""

[notes]

    [notes.updates]
        title = "Component Updates"
        description = """\
ctr: 2.2.0
gvisor: 20251208.0
Kata Containers: 3.24.0
nebula: 1.10.0
netbird: 0.60.8
newt:  1.7.0
NVIDIA LTS: 580.105.08
NVIDIA Container Toolkit: 1.18.1
SOCI Snapshotter: 0.12.1
qemu-guest-agent: 10.1.3
tailscale: 1.92.3
zfs: 2.4.0
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"
