version: v1alpha1
metadata:
  name: ecr-credential-provider
  version: "{{ .VERSION }}"
  author: Florian Ströger
  description: |
    [{{ .TIER }}] This system extension provides a binary which implements Kubelet's CredentialProvider API
    to authenticate against AWS' Elastic Container Registry and pull images.
  compatibility:
    talos:
      version: ">= v1.6.0"
