# © 2024 Nokia
# Licensed under the Mozilla Public License 2.0
# SPDX-License-Identifier: MPL-2.0
version: v1alpha1
metadata:
  name: lldpd
  version: "{{ .VERSION }}"
  author: Niklas Wik
  description: |
    [{{ .TIER }}] LLDP adds a LLDP discovery service to Talos. LLDP cli can be used to interface with the daemon.
  compatibility:
    talos:
      version: ">= v1.7.0"
