version: v1alpha1
metadata:
  name: dvb-cx23885
  version: "{{ .VERSION }}"
  author: Skyler Mäntysaari
  description: |
    [{{ .TIER }}] This system extension provides the dvb kernel modules required for Hauppage WinTV-quadHD PCIe tuner built against a specific Talos version.
    Includes the firmware required.
  compatibility:
    talos:
      version: ">= v1.9.0"
