version: v1alpha1
metadata:
  name: urunc
  version: "{{ .VERSION }}"
  author: Nubificus LTD
  description: |
    [{{ .TIER }}] This system extension provides urunc using containerd's runtime handler.
  compatibility:
    talos:
      version: ">= v1.13.0"
