version: v1alpha1
metadata:
  name: metal-agent
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides talos-metal-agent
  compatibility:
    talos:
      version: ">= 1.9.0-alpha.0"
