version: v1alpha1
metadata:
  name: v4l-uvc-drivers
  version: "{{ .VERSION }}"
  author: Jacob McSwain
  description: |
    [{{ .TIER }}] This system extension provides the Video4Linux kernel modules required for USB Video Class devices built against a specific Talos version.
    This driver enables Video4Linux devices such as webcams.
  compatibility:
    talos:
      version: ">= v1.5.0"
