version: v1alpha1
metadata:
  name: wasmedge
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides support for WasmEdge runtime (WebAssembly) containers.
  compatibility:
    talos:
      version: ">= v1.0.0"
