version: v1alpha1
metadata:
  name: multipath-tools
  version: "{{ .VERSION }}"
  author: Institute for Network and Security (INS) at OST
  description: |
    [{{ .TIER }}] This system extension provides multipath-tools.
  compatibility:
    talos:
      version: ">= v1.9.0"
