version: v1alpha1
metadata:
  name: revpi-firmware
  version: "{{ .VERSION }}"
  author: STACKIT
  description: |
    [{{ .TIER }}] This system extension provides tools e.g. udev rules for the RevolutionPi platform.
  compatibility:
    talos:
      version: ">= v1.0.0"
