version: v1alpha1
metadata:
  name: drbd
  version: "{{ .VERSION }}"
  author: Alexander Prentki
  description: |
    [{{ .TIER }}] This system extension provides kernel module driver for DRBD built against a specific Talos version.
  compatibility:
    talos:
      version: ">= v1.2.0"
