version: v1alpha1
metadata:
  name: dvb-m88ds3103
  version: "{{ .VERSION }}"
  author: Yehia Amer
  description: |
    [{{ .TIER }}] This system extension provides the dvb-demod-m88ds3103.fw firmware for DVB-S/S2 PCIe cards like DVBSky S952.
    It is intended to be used as a dependency on existing DVB driver extension dvb-cx23885 that provides the necessary kernel modules.
  compatibility:
    talos:
      version: ">= v1.9.0"
