version: v1alpha1
metadata:
  name: kata-containers
  version: "{{ .VERSION }}"
  author: Fabiano Fidêncio
  description: |
    [{{ .TIER }}] This system extension provides kata-container using containerd's runtime handler.
  compatibility:
    talos:
      version: ">= v1.7.0"
