version: v1alpha1
metadata:
  name: usb-modem-drivers
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides USB modem drivers kernel modules built against a specific Talos version.
    This driver is required for USB modems to function. This extension includes all the drivers needed to
    operate any USB modem under Linux, but your device might not require all of them. Read your device's
    docs to learn which drivers you need, or just enable them all as a starting point.
  compatibility:
    talos:
      version: ">= v1.4.5"
