version: v1alpha1
metadata:
  name: soci-snapshotter
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides AWS SOCI Snapshotter using containerd's runtime handler.
  compatibility:
    talos:
      version: ">= v1.8.0"
