version: v1alpha1
metadata:
  name: zfs
  version: "{{ .VERSION }}"
  author: Aenix, Enix
  description: |
    [{{ .TIER }}] This system extension provides the ZFS kernel module, the ZFS utilities, and a service to import all ZFS pools on start and unmount all pools on stop.
  compatibility:
    talos:
      version: ">= v1.6.0"
