version: v1alpha1
metadata:
  name: qaic
  version: "{{ .VERSION }}"
  author: Angelos Petheriotis
  description: |
    [{{ .TIER }}] This system extension provides Qualcomm Cloud AI accelerator firmware binaries and kernel modules.
  compatibility:
    talos:
      version: ">= v1.0.0"
