version: v1alpha1
metadata:
  name: panfrost
  version: "{{ .VERSION }}"
  author: Adam Cirillo
  description: |
    [{{ .TIER }}] This system extension provides ARM Mali Midgard, Bifrost, and Valhall firmware binaries and kernel modules.
  compatibility:
    talos:
      version: ">= v1.0.0"
