version: v1alpha1
metadata:
  name: fuse3
  version: "{{ .VERSION }}"
  author: Sidero Labs
  description: |
    [{{ .TIER }}] This system extension provides fuse3 functionality.
  compatibility:
    talos:
      version: ">= v1.0.0"
