version: v1alpha1
metadata:
  name: glibc
  version: "{{ .VERSION }}"
  author: Jean-Francois Roy
  description: |
    [{{ .TIER }}]This system extension provides glibc.
  compatibility:
    talos:
      version: ">= v1.9.0"
